src/xsd/soapui/soapui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ soapUI, copyright (C) 2004-2009 eviware.com
  ~
  ~ soapUI is free software; you can redistribute it and/or modify it under the
  ~ terms of version 2.1 of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation.
  ~
  ~ soapUI is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
  ~ even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Lesser General Public License for more details at gnu.org.
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eviware.com/soapui/config"
            elementFormDefault="qualified" xmlns:tns="http://eviware.com/soapui/config">
    <xsd:complexType name="Workspace">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="project"
                                 type="tns:WorkspaceProject" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="soapui-version"
                               type="xsd:string">
                </xsd:attribute>
                <xsd:attribute name="projectRoot" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="soapui-workspace" type="tns:Workspace"></xsd:element>

    <xsd:complexType name="Project">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="interface" type="tns:Interface"
                                 minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element name="testSuite" type="tns:TestSuite"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="mockService"
                                 type="tns:MockService" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="endpointStrategy"
                                 type="tns:EndpointStrategy" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="requirements" maxOccurs="1"
                                 minOccurs="0" type="tns:RequirementsType">
                    </xsd:element>
                    <xsd:element name="properties"
                                 type="tns:PropertiesType" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="afterLoadScript"
                                 type="tns:Script" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="beforeSaveScript"
                                 type="tns:Script" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="encryptedContent"
                                 type="xsd:base64Binary" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="wssContainer"
                                 type="tns:WssContainer" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="soapui-version"
                               type="xsd:string">
                </xsd:attribute>
                <xsd:attribute name="resourceRoot" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Interface">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="definitionCache"
                                 type="tns:DefinitionCache" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="endpoints"
                                 type="tns:Endpoints">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:complexType name="WsdlInterface">
        <xsd:complexContent>

            <xsd:extension base="tns:Interface">
                <xsd:sequence>

                    <xsd:element name="operation" type="tns:Operation"
                                 minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="definition" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="bindingName" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="soapVersion"
                               type="tns:SoapVersionTypes">
                </xsd:attribute>
                <xsd:attribute name="wsaVersion" type="tns:WsaVersionType"></xsd:attribute>
                <xsd:attribute name="anonymous" type="tns:AnonymousType"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:complexType name="RestService">
        <xsd:complexContent>
            <xsd:extension base="tns:Interface">
                <xsd:sequence>

                    <xsd:element name="resource" type="tns:RestResource"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="definitionUrl" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="basePath" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Endpoints">
        <xsd:sequence>
            <xsd:element name="endpoint" minOccurs="0"
                         maxOccurs="unbounded" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Operation">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="call" type="tns:WsdlRequest"
                                 minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element name="requestParts" maxOccurs="1"
                                 minOccurs="0" type="tns:Parts">

                    </xsd:element>
                    <xsd:element name="responseParts" type="tns:Parts"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="action" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="bindingOperationName"
                               type="xsd:string">
                </xsd:attribute>
                <xsd:attribute name="style"
                               type="tns:OperationStyles">
                </xsd:attribute>
                <xsd:attribute name="type" type="tns:OperationTypes"></xsd:attribute>
                <xsd:attribute name="inputName" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="outputName" type="xsd:string"></xsd:attribute>
                <!-- NOTE isOneWay only kept for backwards compatibility, type is used from now on. -->
                <xsd:attribute name="isOneWay" type="xsd:boolean"
                               default="false">
                </xsd:attribute>
                <xsd:attribute name="sendsAttachments"
                               type="xsd:boolean">
                </xsd:attribute>
                <xsd:attribute name="receivesAttachments"
                               type="xsd:boolean">
                </xsd:attribute>
                <xsd:attribute name="anonymous" type="tns:AnonymousType"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>

    <xsd:simpleType name="OperationStyles">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Document"></xsd:enumeration>
            <xsd:enumeration value="Rpc"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="OperationTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="One-Way"></xsd:enumeration>
            <xsd:enumeration value="Request-Response"></xsd:enumeration>
            <xsd:enumeration value="Notification"></xsd:enumeration>
            <xsd:enumeration value="Solicit-Response"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AbstractRequest" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="encoding" type="xsd:string"></xsd:element>
                    <xsd:element name="endpoint" type="xsd:string"></xsd:element>
                    <xsd:element name="request"
                                 type="tns:CompressedString" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="assertion"
                                 type="tns:TestAssertion" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="credentials"
                                 type="tns:Credentials" maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="attachment" type="tns:Attachment"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="sslKeystore" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsdlRequest">
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractRequest">
                <xsd:sequence>
                    <xsd:element name="wsaConfig" type="tns:WsaConfig"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="wssPasswordType"
                               type="xsd:string">
                </xsd:attribute>
                <xsd:attribute name="outgoingWss" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="incomingWss" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="useWsAddressing" type="xsd:boolean"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="soapui-project" type="tns:Project"></xsd:element>

    <xsd:complexType name="ModelItem">
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="settings" type="tns:Settings"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="timestamp" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="TestAssertion">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="configuration"
                                 type="xsd:anyType">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="type" type="xsd:string"
                               use="required">
                </xsd:attribute>
                <xsd:attribute name="disabled" type="xsd:boolean"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="LoadTestAssertion">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="configuration" type="xsd:anyType"></xsd:element>
                </xsd:sequence>
                <xsd:attribute name="type" type="xsd:string" use="required"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="TestSuite">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="runType"
                                 type="tns:TestSuiteRunTypes" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="testCase" type="tns:TestCase"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="properties"
                                 type="tns:PropertiesType" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="setupScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="tearDownScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="disabled" type="xsd:boolean"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="LoadTest">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="threadCount" type="xsd:int"
                                 default="5">
                    </xsd:element>
                    <xsd:element name="startDelay" type="xsd:int"
                                 maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="sampleInterval" type="xsd:int"></xsd:element>
                    <xsd:element name="calculateTPSOnTimePassed"
                                 type="xsd:boolean">
                    </xsd:element>
                    <xsd:element
                            name="resetStatisticsOnThreadCountChange" type="xsd:boolean">
                    </xsd:element>
                    <xsd:element name="historyLimit" type="xsd:long"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="testLimit" type="xsd:long"
                                 maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="limitType"
                                 type="tns:LoadTestLimitTypes" maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="loadStrategy"
                                 type="tns:LoadStrategy">
                    </xsd:element>
                    <xsd:element name="assertion"
                                 type="tns:LoadTestAssertion" maxOccurs="unbounded"
                                 minOccurs="0">
                    </xsd:element>
                    <xsd:element name="maxAssertionErrors"
                                 type="xsd:long" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="statisticsLogFolder"
                                 type="xsd:string">
                    </xsd:element>
                    <xsd:element name="statisticsLogInterval"
                                 type="xsd:int">
                    </xsd:element>
                    <xsd:element name="logStatisticsOnThreadChange"
                                 type="xsd:boolean">
                    </xsd:element>
                    <xsd:element name="cancelOnReachedLimit"
                                 type="xsd:boolean">
                    </xsd:element>
                    <xsd:element name="cancelExcessiveThreads"
                                 type="xsd:boolean">
                    </xsd:element>
                    <xsd:element name="strategyInterval"
                                 type="xsd:int">
                    </xsd:element>
                    <xsd:element name="setupScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="tearDownScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>

                    <xsd:element name="updateStatisticsPerTestStep" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TestCase">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="testStep" type="tns:TestStep"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>

                    <xsd:element name="loadTest" type="tns:LoadTest"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="setupScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="tearDownScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="properties"
                                 type="tns:PropertiesType" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="requirements"
                                 type="tns:RequirementsType" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="keepSession" type="xsd:boolean"
                               use="optional">
                </xsd:attribute>
                <xsd:attribute name="failOnError" type="xsd:boolean"
                               use="optional">
                </xsd:attribute>
                <xsd:attribute name="failTestCaseOnErrors"
                               type="xsd:boolean" use="optional">
                </xsd:attribute>
                <xsd:attribute name="discardOkResults"
                               type="xsd:boolean">
                </xsd:attribute>
                <xsd:attribute name="searchProperties"
                               type="xsd:boolean">
                </xsd:attribute>
                <xsd:attribute name="disabled" type="xsd:boolean"></xsd:attribute>
                <xsd:attribute name="timeout" type="xsd:long"></xsd:attribute>
                <xsd:attribute name="maxResults" type="xsd:int"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="TestStep">

        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="config" type="xsd:anyType"></xsd:element>
                </xsd:sequence>
                <xsd:attribute name="type" type="xsd:string"
                               use="required">
                </xsd:attribute>
                <xsd:attribute name="disabled" type="xsd:boolean"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RequestStep">
        <xsd:sequence>
            <xsd:element name="interface" type="xsd:string"></xsd:element>
            <xsd:element name="operation" type="xsd:string"></xsd:element>
            <xsd:element name="request" type="tns:WsdlRequest"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PropertyTransfersStep">
        <xsd:sequence>
            <xsd:element name="transfers" type="tns:PropertyTransfer" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PropertyTransfer">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="sourceType" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="sourceStep" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="sourcePath" type="xsd:string">
            </xsd:element>
            <xsd:element name="targetType" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="targetStep" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="targetPath" type="xsd:string"></xsd:element>
            <xsd:element name="type" maxOccurs="1" minOccurs="0"
                         type="tns:PropertyTransferTypes" default="XPATH">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="failOnError" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="setNullOnMissingSource"
                       type="xsd:boolean">
        </xsd:attribute>
        <xsd:attribute name="transferTextContent" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="ignoreEmpty" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="transferToAll" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="useXQuery" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="disabled" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="transferChildNodes" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="entitize" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="Credentials">
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="password" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="domain" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Endpoint">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="username" type="xsd:string"
                               use="optional">
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="domain" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="wssType" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="wssTimeToLive" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="mode">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="COPY"></xsd:enumeration>
                            <xsd:enumeration value="OVERRIDE"></xsd:enumeration>
                            <xsd:enumeration value="COMPLEMENT"></xsd:enumeration>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="label" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="outgoingWss" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="incomingWss" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="PropertyTransferSourceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="REQUEST"></xsd:enumeration>
            <xsd:enumeration value="RESPONSE"></xsd:enumeration>
            <xsd:enumeration value="ENDPOINT"></xsd:enumeration>
            <xsd:enumeration value="DOMAIN"></xsd:enumeration>
            <xsd:enumeration value="USERNAME"></xsd:enumeration>
            <xsd:enumeration value="PASSWORD"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PropertyTransferTargetType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="REQUEST"></xsd:enumeration>
            <xsd:enumeration value="ENDPOINT"></xsd:enumeration>
            <xsd:enumeration value="DOMAIN"></xsd:enumeration>
            <xsd:enumeration value="USERNAME"></xsd:enumeration>
            <xsd:enumeration value="PASSWORD"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="GotoStep">
        <xsd:sequence>
            <xsd:element name="condition" type="tns:GotoCondition" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GotoCondition">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="type" type="xsd:string"></xsd:element>
            <xsd:element name="expression" type="xsd:string"></xsd:element>
            <xsd:element name="targetStep" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="GotoConditionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="XPATH"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PropertyTransferTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="XPATH"></xsd:enumeration>
            <xsd:enumeration value="XQUERY"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="LoadStrategy">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"></xsd:element>
            <xsd:element name="config" type="xsd:anyType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="LoadTestLimitTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="COUNT"></xsd:enumeration>
            <xsd:enumeration value="TIME"></xsd:enumeration>
            <xsd:enumeration value="COUNT_PER_THREAD"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="soapui-settings" type="tns:Settings"/>

    <xsd:complexType name="Settings">
        <xsd:sequence>
            <xsd:element name="setting" type="tns:Setting"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="encryptedContent" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Setting">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="PropertiesStep">
        <xsd:sequence>
            <xsd:element name="source" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="target" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="properties" maxOccurs="1"
                         minOccurs="0" type="tns:PropertiesType">

            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="createMissingOnLoad" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="saveFirst" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="discardValuesOnSave" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="Property">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="value" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="TestSuiteRunTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SEQUENTIAL"></xsd:enumeration>
            <xsd:enumeration value="PARALLELL"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="StringToStringMap">
        <xsd:sequence>
            <xsd:element name="entry" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="key"
                                   type="xsd:string">
                    </xsd:attribute>
                    <xsd:attribute name="value"
                                   type="xsd:string">
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StringList">
        <xsd:sequence>
            <xsd:element name="entry" maxOccurs="unbounded" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="SoapVersionTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1_1"></xsd:enumeration>
            <xsd:enumeration value="1_2"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="Attachment">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="contentType" type="xsd:string"></xsd:element>
            <xsd:element name="size" type="xsd:long"></xsd:element>
            <xsd:element name="tempFilename" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="contentId" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="part" type="xsd:string"></xsd:element>
            <xsd:element name="url" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="data" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Parts">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded"
                         name="part">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="contentType"
                                     type="xsd:string">
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="name"
                                   type="xsd:string">
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DefinitionCache">
        <xsd:sequence maxOccurs="unbounded" minOccurs="1">
            <xsd:element name="part" type="tns:DefintionPart"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="rootPart" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="cacheTime" type="xsd:dateTime"></xsd:attribute>
        <xsd:attribute name="type" type="tns:DefinitionCacheType"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="DefintionPart">
        <xsd:sequence>
            <xsd:element name="url" type="xsd:string"></xsd:element>
            <xsd:element name="content" type="xsd:anyType"></xsd:element>
            <xsd:element name="type" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="WorkspaceProject">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="LOCAL"></xsd:enumeration>
                            <xsd:enumeration value="REMOTE"></xsd:enumeration>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="status">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="OPEN"></xsd:enumeration>
                            <xsd:enumeration value="CLOSED"></xsd:enumeration>
                            <xsd:enumeration value="CLOSED_AND_ENCRYPTED"></xsd:enumeration>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="group" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:complexType name="MockService">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="mockOperation"
                                 type="tns:MockOperation" maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="startScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="stopScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="properties"
                                 type="tns:PropertiesType" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="onRequestScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="afterRequestScript" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="port" type="xsd:int"></xsd:attribute>
                <xsd:attribute name="path" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="host" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="bindToHostOnly" type="xsd:boolean">
                </xsd:attribute>
                <xsd:attribute name="incomingWss" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="outgoingWss" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="docroot" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="faultMockOperation" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="dispatchResponseMessages" type="xsd:boolean"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="MockOperation">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="dispatchPath" type="xsd:string"
                                 minOccurs="0">
                    </xsd:element>
                    <xsd:element name="dispatchStyle"
                                 type="tns:MockOperationDispatchStyle" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="defaultResponse"
                                 type="xsd:string" maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="response" type="tns:MockResponse"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="dispatchConfig" type="xsd:anyType" maxOccurs="1" minOccurs="0"></xsd:element>
                </xsd:sequence>
                <xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="operation" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="faultMockOperation" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Script">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="language" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="MockResponse">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="script" type="tns:Script"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="responseContent"
                                 type="tns:CompressedString">
                    </xsd:element>
                    <xsd:element name="attachment" type="tns:Attachment"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="header" type="tns:Header"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="wsaConfig" type="tns:WsaConfig"
                                 maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="encoding" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="httpResponseStatus" type="xsd:string"/>
                <xsd:attribute name="outgoingWss" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="useWsAddressing" type="xsd:boolean"></xsd:attribute>
                <xsd:attribute name="disabled" type="xsd:boolean"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Header">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="value" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="MockOperationDispatchStyle">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RANDOM"></xsd:enumeration>
            <xsd:enumeration value="SEQUENCE"></xsd:enumeration>
            <xsd:enumeration value="XPATH"></xsd:enumeration>
            <xsd:enumeration value="SCRIPT"></xsd:enumeration>
            <xsd:enumeration value="QUERY_MATCH"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="RegistryEntry">
        <xsd:sequence>
            <xsd:element name="configuration" type="xsd:anyType"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:element name="soapui-actions" type="tns:SoapUIActions"></xsd:element>

    <xsd:complexType name="SoapUIActions">
        <xsd:sequence>
            <xsd:element name="action" type="tns:SoapUIAction" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="actionGroup" type="tns:SoapUIActionGroup" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>


        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="SoapUIAction">
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="actionClass" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="SoapUIActionMapping">
        <xsd:attribute name="groupId" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="actionId" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="keyStroke" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="iconPath" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="description" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="param" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="position"
                       type="tns:ActionMappingPositionType">
        </xsd:attribute>
        <xsd:attribute name="positionRef" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="SoapUIActionGroup">
        <xsd:sequence>
            <xsd:element name="actionMapping"
                         type="tns:SoapUIActionMapping" maxOccurs="unbounded"
                         minOccurs="0">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="class" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="default" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:simpleType name="ActionMappingPositionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BEFORE"></xsd:enumeration>
            <xsd:enumeration value="AFTER"></xsd:enumeration>
            <xsd:enumeration value="REPLACE"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="MockResponseStep">
        <xsd:sequence>
        	<xsd:element name="interface" type="xsd:string"></xsd:element>
        	<xsd:element name="operation" type="xsd:string"></xsd:element>
        	<xsd:element name="path" type="xsd:string"></xsd:element>
        	<xsd:element name="port" type="xsd:int"></xsd:element>
        	<xsd:element name="timeout" type="xsd:long"></xsd:element>
        	<xsd:element name="response" type="tns:MockResponse"></xsd:element>
        	<xsd:element name="assertion" type="tns:TestAssertion"
        		maxOccurs="unbounded" minOccurs="0">
        	</xsd:element>
        	<xsd:element name="query" type="xsd:string"></xsd:element>
        	<xsd:element name="match" type="xsd:string"></xsd:element>
        	<xsd:element name="host" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="handleFault" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="handleResponse" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="startStep" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="AsyncResponseStep">
        <xsd:sequence>
            <xsd:element name="interface" type="xsd:string"></xsd:element>
            <xsd:element name="operation" type="xsd:string"></xsd:element>
            <xsd:element name="path" type="xsd:string"></xsd:element>
            <xsd:element name="requestQuery" type="xsd:string"></xsd:element>
            <xsd:element name="matchingValue" type="xsd:string"></xsd:element>
            <xsd:element name="port" type="xsd:int"></xsd:element>
            <xsd:element name="timeout" type="xsd:long"></xsd:element>
            <xsd:element name="response" type="tns:MockResponse"></xsd:element>
            <xsd:element name="assertion" type="tns:TestAssertion"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DataSourceStep">
        <xsd:sequence>
            <xsd:element name="dataSource" type="tns:DataSource">
            </xsd:element>
            <xsd:element name="shared" type="xsd:boolean"></xsd:element>
            <xsd:element name="restartShared" type="xsd:boolean"></xsd:element>
            <xsd:element name="preload" type="xsd:boolean"></xsd:element>
            <xsd:element name="property" type="xsd:string"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="startRow" type="xsd:string"></xsd:element>
            <xsd:element name="endRow" type="xsd:string"></xsd:element>
            <xsd:element name="failOnEmpty" type="xsd:boolean"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="gotoLoopOnEmpty" type="xsd:boolean"></xsd:element>
            <xsd:element name="trimValues" type="xsd:boolean"></xsd:element>
            <xsd:element name="entitizeValues" type="xsd:boolean"></xsd:element>
            <xsd:element name="restartOnRun" type="xsd:boolean"></xsd:element>
            <xsd:element name="expandProperties" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DataSource">
        <xsd:complexContent>
            <xsd:extension base="tns:RegistryEntry">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DataSourceLoopStep">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="dataSourceStep" type="xsd:string"></xsd:element>
            <xsd:element name="targetStep" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="CompressedString">

        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="compression" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="EndpointStrategy">
        <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="DefaultEndpointStrategy">
        <xsd:complexContent>
            <xsd:extension base="tns:EndpointStrategy">
                <xsd:sequence>
                    <xsd:element name="endpoint" type="tns:Endpoint"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="soapui-listeners" type="tns:SoapUIListeners"/>

    <xsd:complexType name="SoapUIListeners">
        <xsd:sequence>
            <xsd:element name="listener" type="tns:SoapUIListener" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SoapUIListener">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="listenerClass" type="xsd:string"/>
        <xsd:attribute name="listenerInterface" type="xsd:string"/>
        <xsd:attribute name="singleton" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="PropertiesType">
        <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded"
                         name="property" type="tns:Property">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RequirementsType">
        <xsd:sequence>
            <xsd:element name="requirement" type="tns:Requirement" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Requirement">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="description" type="xsd:string"></xsd:element>
            <xsd:element name="status" type="xsd:string"></xsd:element>
            <xsd:element name="details" type="xsd:string"></xsd:element>
            <xsd:element name="links" type="tns:StringToStringMap"></xsd:element>
            <xsd:element name="testCases" type="tns:StringList"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TestScenario">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem"></xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RunTestCaseStep">
        <xsd:sequence>
            <xsd:element name="targetTestCase" type="xsd:string"></xsd:element>
            <xsd:element name="properties" type="tns:PropertiesType"></xsd:element>
            <xsd:element name="returnProperties"
                         type="tns:StringList">
            </xsd:element>
            <xsd:element name="runMode"
                         type="tns:RunTestCaseRunModeType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RunTestSuiteStep">
        <xsd:sequence>
            <xsd:element name="targetTestSuite" type="xsd:string"></xsd:element>
            <xsd:element name="properties" type="tns:PropertiesType"></xsd:element>
            <xsd:element name="returnProperties" type="tns:StringList"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="DataSinkStep">
        <xsd:sequence>
            <xsd:element name="dataSink" type="tns:DataSink"></xsd:element>
            <xsd:element name="skipOnEmpty" type="xsd:boolean"></xsd:element>
            <xsd:element name="shared" type="xsd:boolean"></xsd:element>
            <xsd:element name="properties" type="tns:PropertiesType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DataSink">
        <xsd:complexContent>
            <xsd:extension base="tns:RegistryEntry"></xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="OutgoingWss">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="username" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="password" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="entry" type="tns:WSSEntry"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="enableSignatureConfirmation"
                       type="xsd:boolean">
        </xsd:attribute>
        <xsd:attribute name="precisionInMilliSeconds"
                       type="xsd:boolean">
        </xsd:attribute>
        <xsd:attribute name="timeStampScript" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="wsiBspCompliant" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="actor" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="mustUnderstand" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="WSSEntry">
        <xsd:complexContent>
            <xsd:extension base="tns:RegistryEntry">
                <xsd:attribute name="username" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="password" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="keyIdentifierType" type="tns:KeyIdentifierType"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WSSCrypto">
        <xsd:complexContent>
            <xsd:extension base="tns:RegistryEntry">
                <xsd:sequence>
                </xsd:sequence>

            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="KeyIdentifierType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ISSUER_SERIAL"></xsd:enumeration>
            <xsd:enumeration value="BST_DIRECT_REFERENCE"></xsd:enumeration>
            <xsd:enumeration value="X509_KEY_IDENTIFIER"></xsd:enumeration>
            <xsd:enumeration value="SKI_KEY_IDENTIFIER"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WSSAddUsernameEntry">
        <xsd:complexContent>
            <xsd:extension base="tns:WSSEntry">
                <xsd:attribute name="addCreated" type="xsd:boolean"></xsd:attribute>
                <xsd:attribute name="addNonce" type="xsd:boolean"></xsd:attribute>
                <xsd:attribute name="passwordType" type="tns:WSSUsernamePasswordPasswordType"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:simpleType name="WSSUsernamePasswordPasswordType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PASSWORD_DIGEST"></xsd:enumeration>
            <xsd:enumeration value="PASSWORD_TEXT"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WSSAddTimestamp">
        <xsd:complexContent>
            <xsd:extension base="tns:WSSEntry">
                <xsd:attribute name="timeToLive" type="xsd:int"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="WSSConfigApplyModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AUTOMATIC"></xsd:enumeration>
            <xsd:enumeration value="MANUAL"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DefinitionCacheType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INLINE"></xsd:enumeration>
            <xsd:enumeration value="TEXT"></xsd:enumeration>
            <xsd:enumeration value="EXTERNAL"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="EndpointGroup">
        <xsd:sequence>
            <xsd:element name="endpoint"
                         type="tns:EndpointGroupEndpoint" maxOccurs="unbounded"
                         minOccurs="0">
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="EndpointGroupEndpoint">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="KeyMaterialCrypto">
        <xsd:sequence>
            <xsd:element name="source" type="xsd:string"></xsd:element>
            <xsd:element name="password" type="xsd:string"></xsd:element>
            <xsd:element name="defaultAlias" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="aliasPassword" type="xsd:string"
                         maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="cryptoProvider" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IncomingWss">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="decryptCrypto" type="xsd:string"></xsd:element>
            <xsd:element name="signatureCrypto" type="xsd:string"></xsd:element>
            <xsd:element name="decryptPassword" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WssContainer">
        <xsd:sequence>
            <xsd:element name="crypto" type="tns:KeyMaterialCrypto"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="incoming" type="tns:IncomingWss"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="outgoing" type="tns:OutgoingWss" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DataGeneratorStep">
        <xsd:sequence>
            <xsd:element name="property"
                         type="tns:DataGeneratorProperty" maxOccurs="unbounded"
                         minOccurs="0">

            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DataGeneratorProperty">
        <xsd:complexContent>
            <xsd:extension base="tns:RegistryEntry">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="mode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="STEP"></xsd:enumeration>
                                <xsd:enumeration value="READ"></xsd:enumeration>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="shared" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="RunTestCaseRunModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PARALLELL"></xsd:enumeration>
            <xsd:enumeration value="SINGLETON_AND_WAIT"></xsd:enumeration>
            <xsd:enumeration value="SINGLETON_AND_FAIL"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="RestResource">
        <xsd:complexContent>
            <xsd:extension base="tns:ModelItem">
                <xsd:sequence>
                    <xsd:element name="parameters"
                                 type="tns:RestParameters">
                    </xsd:element>
                    <xsd:element name="request" type="tns:RestMethod"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>


                    <xsd:element name="resource" type="tns:RestResource"
                                 maxOccurs="unbounded" minOccurs="0">
                    </xsd:element>

                </xsd:sequence>
                <xsd:attribute name="path" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="wadlId" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RestMethod">
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractRequest">
                <xsd:sequence>
                    <xsd:element name="parameters"
                                 type="tns:RestParameters">
                    </xsd:element>
                    <xsd:element name="representation" type="tns:RestResourceRepresentation" maxOccurs="unbounded"
                                 minOccurs="0"></xsd:element>
                </xsd:sequence>
                <xsd:attribute name="method" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="wadlId" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="fullPath" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="mediaType" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="postQueryString" type="xsd:boolean"></xsd:attribute>
                <xsd:attribute name="accept" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RestRequestStep">
        <xsd:sequence>
            <xsd:element name="restRequest" type="tns:RestMethod"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="service" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="resourcePath" type="xsd:string"></xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="RestParameter">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="value" type="xsd:string"></xsd:element>
            <xsd:element name="style">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="MATRIX"></xsd:enumeration>
                        <xsd:enumeration value="HEADER"></xsd:enumeration>
                        <xsd:enumeration value="QUERY"></xsd:enumeration>
                        <xsd:enumeration value="TEMPLATE"></xsd:enumeration>
                        <xsd:enumeration value="PLAIN"></xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="type" type="xsd:QName" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="default" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="path" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="link" type="xsd:string" maxOccurs="1"
                         minOccurs="0">
            </xsd:element>
            <xsd:element name="option" type="xsd:string"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>

            <xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="required" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="repeating" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="disableUrlEncoding" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="RestParameters">
        <xsd:sequence>
            <xsd:element name="parameter" type="tns:RestParameter" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RestResourceRepresentation">
        <xsd:sequence>
            <xsd:element name="mediaType" type="xsd:string"></xsd:element>
            <xsd:element name="status" type="tns:statusCodesType"></xsd:element>
            <xsd:element name="params" type="tns:RestParameters"></xsd:element>
            <xsd:element name="element" type="xsd:QName"></xsd:element>
            <xsd:element name="description" type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="type" type="tns:RestResourceRepresentationType"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="WsaConfig">
        <xsd:attribute name="replyTo" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="faultTo" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="action" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="from" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="messageID" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="to" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="relationshipType" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="relatesTo" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="version" type="tns:WsaVersionType"></xsd:attribute>
        <xsd:attribute name="mustUnderstand"
                       type="tns:MustUnderstandType">
        </xsd:attribute>


        <xsd:attribute name="generateMessageId" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="addDefaultTo" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="addDefaultAction" type="xsd:boolean"></xsd:attribute>
        <xsd:attribute name="replyToRefParams" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="faultToRefParams" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="MockOperationQueryMatchDispatch">
        <xsd:sequence>
            <xsd:element name="query" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="query" type="xsd:string"/>
                        <xsd:element name="match" type="xsd:string"/>
                        <xsd:element name="response" type="xsd:string"/>
                        <xsd:element name="disabled" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="MustUnderstandType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NONE"></xsd:enumeration>
            <xsd:enumeration value="TRUE"></xsd:enumeration>
            <xsd:enumeration value="FALSE"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsaVersionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="200508"></xsd:enumeration>
            <xsd:enumeration value="200408"></xsd:enumeration>
            <xsd:enumeration value="NONE"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="RestResourceRepresentationType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="REQUEST"></xsd:enumeration>
            <xsd:enumeration value="RESPONSE"></xsd:enumeration>
            <xsd:enumeration value="FAULT"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="statusCodesType">
        <xsd:list itemType="xsd:int"></xsd:list>
    </xsd:simpleType>

    <xsd:element name="testCase" type="tns:TestCase"></xsd:element>

    <xsd:element name="operation" type="tns:Operation"></xsd:element>

    <xsd:element name="mockOperation" type="tns:MockOperation"></xsd:element>

    <xsd:simpleType name="AnonymousType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="optional"></xsd:enumeration>
            <xsd:enumeration value="required"></xsd:enumeration>
            <xsd:enumeration value="prohibited"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="interface" type="tns:Interface"></xsd:element>

    <xsd:element name="mockService" type="tns:MockService"></xsd:element>

    <xsd:element name="testSuite" type="tns:TestSuite"></xsd:element>
    <xsd:element name="lockedFileInfo" type="tns:LockedFileInfo"></xsd:element>

    <xsd:complexType name="LockedFileInfo">
        <xsd:sequence>
            <xsd:element name="owner" type="xsd:string"></xsd:element>
            <xsd:element name="date" type="xsd:date"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--
    <xsd:element name="codeTemplates" type="tns:CodeTemplates"/>

    <xsd:complexType name="CodeTemplates">
        <xsd:sequence>
            <xsd:element name="codeTemplate" type="tns:CodeTemplate" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CodeTemplate">
        <xsd:sequence>
            <xsd:element name="content" type="xsd:string" xml:space="preserve"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="scope" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="expand" type="xsd:boolean"></xsd:attribute>

    </xsd:complexType>
    -->
</xsd:schema>