soapui-system-test/src/test/resources/test5/testservice2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.eviware.com/TestService/v1/">

  <s:complexType name="PageReference">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RemoteSite" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LoadRawPageData" type="s:boolean" />
        </s:sequence>
      </s:complexType>
</s:schema>