src/test-resources/MtomTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ soapUI, copyright (C) 2004-2008 eviware.com
  ~
  ~ soapUI is free software; you can redistribute it and/or modify it under the
  ~ terms of version 2.1 of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation.
  ~
  ~ soapUI is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
  ~ even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Lesser General Public License for more details at gnu.org.
  -->

<wsdl:definitions targetNamespace="http://adobe.com/idp/services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://adobe.com/idp/services" xmlns:intf="http://adobe.com/idp/services" xmlns:tns1="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--Generated for Adobe LiveCycle 9.0.0-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ws-i.org/profiles/basic/1.1/xsd"/>
   <element name="invoke">
    <complexType>
     <sequence>
      <element name="inDoc" type="impl:BLOB"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="MyMapOf_xsd_string_To_xsd_anyType_Item">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="MyMapOf_xsd_string_To_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:MyMapOf_xsd_string_To_xsd_anyType_Item"/>
    </sequence>
   </complexType>
   <complexType name="BLOB">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="contentType" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="binaryData" type="xsd:base64Binary"/>
     <element maxOccurs="1" minOccurs="0" name="attachmentID" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="remoteURL" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="MTOM" type="xsd:base64Binary" xmime:expectedContentTypes="*/*" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
     <element maxOccurs="1" minOccurs="0" name="swaRef" type="tns1:swaRef"/>
     <element maxOccurs="1" minOccurs="0" name="attributes" type="impl:MyMapOf_xsd_string_To_xsd_anyType"/>
    </sequence>
   </complexType>
   <element name="invokeResponse">
    <complexType>
     <sequence>
      <element name="inDoc" type="impl:BLOB"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="MyArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="FormInstanceBase">
    <sequence>
     <element name="XFAData" nillable="true" type="xsd:base64Binary"/>
     <element name="actionList" nillable="true" type="impl:MyArrayOf_xsd_anyType"/>
     <element name="hardenedTemplatePath" nillable="true" type="xsd:string"/>
     <element name="selectedAction" nillable="true" type="xsd:string"/>
     <element name="templatePath" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="FormDataTypeInstance">
    <complexContent>
     <extension base="impl:FormInstanceBase">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SetValueMapping">
    <sequence>
     <element name="locationExpr" nillable="true" type="xsd:string"/>
     <element name="valueExpr" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PurgeFilter">
    <sequence/>
   </complexType>
   <simpleType name="ConditionEnum">
    <restriction base="xsd:string">
     <enumeration value="EQUALS"/>
     <enumeration value="GREATER_THAN"/>
     <enumeration value="LESS_THAN"/>
     <enumeration value="NOT_EQUALS"/>
     <enumeration value="LIKE"/>
     <enumeration value="GREATER_THAN_EQUALS"/>
     <enumeration value="LESS_THAN_EQUALS"/>
     <enumeration value="BEGINS_WITH"/>
     <enumeration value="ENDS_WITH"/>
     <enumeration value="CONTAINS"/>
    </restriction>
   </simpleType>
   <complexType name="ConditionFilter">
    <complexContent>
     <extension base="impl:PurgeFilter">
      <sequence>
       <element name="condition" nillable="true" type="impl:ConditionEnum"/>
       <element name="value" nillable="true" type="xsd:string"/>
       <element name="variable" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OrFilter">
    <complexContent>
     <extension base="impl:PurgeFilter">
      <sequence>
       <element name="leftFilter" nillable="true" type="impl:PurgeFilter"/>
       <element name="rightFilter" nillable="true" type="impl:PurgeFilter"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AndFilter">
    <complexContent>
     <extension base="impl:PurgeFilter">
      <sequence>
       <element name="leftFilter" nillable="true" type="impl:PurgeFilter"/>
       <element name="rightFilter" nillable="true" type="impl:PurgeFilter"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://ws-i.org/profiles/basic/1.1/xsd" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://adobe.com/idp/services"/>
   <simpleType name="swaRef">
    <restriction base="xsd:anyURI"/>
   </simpleType>
  </schema>
 </wsdl:types>

   <wsdl:message name="invokeResponse">

      <wsdl:part element="impl:invokeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="invokeRequest">

      <wsdl:part element="impl:invoke" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="echoDoc">

      <wsdl:operation name="invoke">

         <wsdl:input message="impl:invokeRequest" name="invokeRequest"/>

         <wsdl:output message="impl:invokeResponse" name="invokeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="echoDocSoapBinding" type="impl:echoDoc">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="invoke">

         <wsdlsoap:operation soapAction="invoke..9.0.0"/>

         <wsdl:input name="invokeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="invokeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="echoDocService">

      <wsdl:port binding="impl:echoDocSoapBinding" name="echoDoc">

         <wsdlsoap:address location="http://qtpserver:8080/soap/services/echoDoc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
 	  	 
