src/test-resources/spring-test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.test.com/whitelabel-ws/schemas/messages/abc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.test.com/whitelabel-ws/schemas/messages/abc" targetNamespace="http://www.test.com/whitelabel-ws/schemas/messages/abc">
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:types="http://www.test.com/whitelabel-ws/schemas/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.test.com/whitelabel-ws/schemas/messages/abc"><element name="test"><complexType><sequence><element name="test2" type="string"/></sequence></complexType></element><element name="abcRequest"><complexType><sequence><element name="ip" type="string"/></sequence></complexType></element><element name="abcResponse"><complexType><sequence><element name="country" type="string"/></sequence></complexType></element></schema>
</wsdl:types>
<wsdl:message name="abcRequest">
<wsdl:part element="tns:abcRequest" name="abcRequest"/>
</wsdl:message>
<wsdl:message name="abcResponse">
<wsdl:part element="tns:abcResponse" name="abcResponse"/>
</wsdl:message>
<wsdl:portType name="ABC">
<wsdl:operation name="abc">
<wsdl:input message="tns:abcRequest" name="abcRequest"/>
<wsdl:output message="tns:abcResponse" name="abcResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ABCSoap11" type="tns:ABC">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="abc">
<soap:operation soapAction=""/>
<wsdl:input name="abcRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="abcResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ABCService">
<wsdl:port binding="tns:ABCSoap11" name="ABCSoap11">
<soap:address location="http://localhost:8083/Test/services/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>

